In [ ]:
import pandas as pd
data = [10, 20, 30, 40, 50]
series = pd. Series (data)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
a = [1, 7, 21]
myvar = pd.Series (a, index = ["x", "y", "z"])
print (myvar)

x     1
y     7
z    21
dtype: int64

In [ ]:

gt=series > 25
print("series>25= \n",gt)
series_filtered = series [series > 25]
print("Filtered Series: \n", series_filtered)
series_multiplied = series * 2
print("\nSeries after Scalar Multiplication: \n", series_multiplied)

series>25=
 0    False
1    False
2     True
3     True
4     True
dtype: bool
Filtered Series:
 2    30
3    40
4    50
dtype: int64

Series after Scalar Multiplication:
 0     20
1     40
2     60
3     80
4    100
dtype: int64

In [ ]:
data = {
"calories": [420, 380, 390],
"duration": [50, 40, 45]
}
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop' : [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
print (frame)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [ ]:
frame = pd.DataFrame(data, columns=['year', 'state', 'pop'])
print(frame)

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

In [ ]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], index=['one', 'two', 'three', 'four', 'five', 'six'])
print(frame2)

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [ ]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], index=['one', 'two', 'three', 'four', 'five', 'six'])
print (frame2 ['year'])

one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

In [ ]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], index=['one', 'two', 'three', 'four', 'five', 'six'])
print("\n", frame2['state'])

 one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

In [ ]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], index=['one', 'two', 'three', 'four', 'five', 'six'])
print("\n", frame2.state)

 one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

In [ ]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], index=['one', 'two', 'three', 'four', 'five', 'six'])
print (frame2.loc['one'])

year     2000
state    Ohio
pop       1.5
debt      NaN
Name: one, dtype: object

In [ ]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], index=['one', 'two', 'three', 'four', 'five', 'six'])
print (frame2.loc[['two', 'three']])

       year state  pop debt
two    2001  Ohio  1.7  NaN
three  2002  Ohio  3.6  NaN

In [ ]:
frame2 ['debt'] = 12.4
print (frame2)

       year   state  pop  debt
one    2000    Ohio  1.5  12.4
two    2001    Ohio  1.7  12.4
three  2002    Ohio  3.6  12.4
four   2001  Nevada  2.4  12.4
five   2002  Nevada  2.9  12.4
six    2003  Nevada  3.2  12.4

In [ ]:
import numpy as np
frame2 ['debt'] = np.arange(6.)
print (frame2)

       year   state  pop  debt
one    2000    Ohio  1.5   0.0
two    2001    Ohio  1.7   1.0
three  2002    Ohio  3.6   2.0
four   2001  Nevada  2.4   3.0
five   2002  Nevada  2.9   4.0
six    2003  Nevada  3.2   5.0

In [ ]:
val = pd.Series ([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt'] = val
print(frame2)

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN

In [ ]:
frame2 ['eastern'] = frame2.state = 'Ohio'
print(frame2)

       year state  pop  debt eastern
one    2000  Ohio  1.5   NaN    Ohio
two    2001  Ohio  1.7  -1.2    Ohio
three  2002  Ohio  3.6   NaN    Ohio
four   2001  Ohio  2.4  -1.5    Ohio
five   2002  Ohio  2.9  -1.7    Ohio
six    2003  Ohio  3.2   NaN    Ohio

In [ ]:
del frame2 ['eastern']
print(frame2)

       year state  pop  debt
one    2000  Ohio  1.5   NaN
two    2001  Ohio  1.7  -1.2
three  2002  Ohio  3.6   NaN
four   2001  Ohio  2.4  -1.5
five   2002  Ohio  2.9  -1.7
six    2003  Ohio  3.2   NaN

In [ ]:
print (frame2.T)

        one   two three  four  five   six
year   2000  2001  2002  2001  2002  2003
state  Ohio  Ohio  Ohio  Ohio  Ohio  Ohio
pop     1.5   1.7   3.6   2.4   2.9   3.2
debt    NaN  -1.2   NaN  -1.5  -1.7   NaN

In [ ]:
obj = pd. Series ([4.5, 7.2, -5.3, 3.6], index= ['d', 'b', 'a', 'c'])
print(obj)
obj2= obj.reindex(['a', 'b', 'c', 'd', 'e'])
obj2

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [ ]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
print(obj3)

obj4= obj3. reindex (range(6), method='ffill') #forward-fills the values
obj4

0      blue
2    purple
4    yellow
dtype: object

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [ ]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj4= obj3. reindex (range(6), method='ffill')
print("Method 'ffill':")
print(obj4)

obj5 = obj3. reindex (range(6), method='bfill')
print("\nMethod 'bfill':")
print(obj5)

obj6 = obj3. reindex (range(6), fill_value='red')
print("\nFill value:")
print(obj6)

obj7 = pd.Series([1, 2, 3], index=[0, 2, 51])
obj8= obj7. reindex (range(7), method='ffill', limit=1)
print("\nLimit:")
print(obj8)

Method 'ffill':
0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

Method 'bfill':
0      blue
1    purple
2    purple
3    yellow
4    yellow
5       NaN
dtype: object

Fill value:
0      blue
1       red
2    purple
3       red
4    yellow
5       red
dtype: object

Limit:
0    1.0
1    1.0
2    2.0
3    2.0
4    NaN
5    NaN
6    NaN
dtype: float64

In [ ]:
obj = pd.Series (np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
new_obj = obj.drop('c')
print(new_obj)
obj.drop(['d', 'c'])

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

a    0.0
b    1.0
e    4.0
dtype: float64

In [ ]:
pd.DataFrame(np.arange(16).reshape((4, 4)),
index=['Ohio', 'Dallas', 'NJ', 'New York'], columns=['one', 'two', 'three', 'four'])

          one  two  three  four
Ohio        0    1      2     3
Dallas      4    5      6     7
NJ          8    9     10    11
New York   12   13     14    15